# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/QuakeTut/QuakeTut.VC.VC.opendb
/QuakeTut/QuakeTut.VC.db
/QuakeTut/Debug
/QuakeTut/.vs/QuakeTut/v14
/QuakeTut/QuakeTut/Debug
/QuakeTut/Module2/Debug/Module2.tlog
/QuakeTut/Module2/Debug
